.separation {
    /*margin-left: 6%;*/
    margin-top: 3%;
    width: 45%;
}

#forBt {
    margin-left: 25%;
    width: 45%;
}

#research {
    font-size: 6vw;
    margin-left: 7.5vw;
    border-radius: 5vw;
}


/*#btp2{
  position: absolute;
      margin-top: -87vw;
      height: 5vw;
      margin-left: 30vw;
}*/
