<div class="webcam">
    <div class="row">
        <div class="col-lg-6" id="forBt">
                <span class="input-group-btn">
        <a href="/#!/search"><button id="research" type="button" class="btn btn-success">SEARCH!</button></a>  
        </span>
            </div>
            <!-- /input-group -->
        </div>
        <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->

    <div ng-repeat="web in webcam.webcams">
        <div class="container-fluid-camm">


            <div class="col-xs-6 separation">

                <a name="lkr-timelapse-player" data-id="{{web.id}}" data-play="day" href="//lookr.com/{{web.id}}" target="_blank">{{web.id}}</a>
                <script async type="text/javascript" src="//api.lookr.com/embed/script/timelapse.js"></script>

            </div>
        </div>
    </div>
</div>
