<div class="col-xs-offset-5 partie">
<form class="navbar-form navbar-left" role="search">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Recherche">
  </div>
  <button type="submit" class="btn btn-success"> <span class="glyphicon glyphicon-ok"></span></button>
</form>
</div>
<div class="webcam">
    <div ng-repeat="web in webcam.webcams">
        <div class="title">
            <div class="container">
                <div class="col-xs-4 bigup">
                    <a name="lkr-timelapse-player" data-id="{{web.id}}" data-play="day" href="//lookr.com/{{web.id}}" target="_blank">{{web.title}}</a>
                    <script async type="text/javascript" src="//api.lookr.com/embed/script/timelapse.js"></script>
                </div>
            </div>
        </div>
    </div>
</div>
